.section-sidebar {
    opacity: 0;

}

.expand {
    opacity: 1;
}

.dropdown {
    position: relative;
}

.dropdown > ul {
    display: none;
    position: absolute;
}

.dropdown:hover > ul {
    display: block;
}