#sections-sidebar {
    opacity: 0;

}

#section-sidebar-btn {
    position: relative;
}

#sections-sidebar-btn .expand {
    opacity: 1;
    position: absolute;
}

.dropdown {
    position: relative;
}

.dropdown > ul {
    display: none;
    position: absolute;
}

.dropdown:hover > ul {
    display: block;
}