.section {
    display: flex;
    justify-content: center;

    li {
        list-style: none;
        margin: 5px;
    }

    li:hover {
        background-color: lightgray;
        text-decoration: underline;
        
    }
}

@media all and (max-width: 1000px) {
    .section {
        width: 100%;
        display: none;
    }
}