// Use the gear_dropdown.png screenshot as a style guide
#gear-icon {
    position: relative;
}

.gear-dropdown {
    position: absolute;
    // top: 50px;
    display: none;
    border: 1px solid $light-gray;
    background-color: white;
    top: 25px;
    right: 3px;
    width: 250px;
    z-index: 1;
    box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);


    .editions a {
        color: $gray;
        text-decoration: none;
    }

    .help a {
        color: $light-blue;
        text-decoration: none;
    }

    span {
        font-size: 12px;
        text-transform: upp;
    }
}




#gear-icon:hover .gear-dropdown {
    display: block;
}

.gear-dropdown li {
    padding: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.help li:hover {
    text-decoration: underline;
}

.editions li:hover {
    background-color: $light-gray;
}

