// Use the gear_dropdown.png screenshot as a style guide
#gear-icon {
    position: relative;
}

.gear-dropdown {
    position: absolute;
    // top: 50px;
    display: none;
    border: 1px solid $light-gray;
    background-color: white;
    top: 25px;
    right: 3px;
    width: 250px;
    z-index: 1;

    .editions a {
        color: $gray;
        text-decoration: none;
    }
}




#gear-icon:hover .gear-dropdown {
    display: block;
}

.gear-dropdown li {
    padding: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

