.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav {

  > ul {
    > li {
      // font-family: ;
      // font-size: ;
      text-transform: uppercase;
    }
  }

  span {

  }
}

.right-nav  {
  
  > ul {
    
    > li button {
      text-transform: uppercase;
    }

    > li:last-of-type {
      
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}
