
<nav class="masthead">
    <nav class="language-nav">
        <ul>
            <li><a href="#">CSS</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">Javascript</a></li>
            <li><a href="#">Ruby</a></li>
        </ul>
    </nav>
    <img src="assets/AA_Times_Logo.png" alt="">
    <nav class="masthead-links">
        <li>Tuesday, October 18, 2016</li>
        <li><a href="#"><i class="far fa-newspaper"></i> Today’s Paper</a></li>
        <li><a href="#"><i class="fas fa-video"></i> Video</a></li>
        <li id="degree">77°F</li>
        <li id="stock">AAO +100%</li>
    </nav>
</nav>







 
 





