# <%= render "cat", {cat: @cat} %>

<h1><%= @cat.name %></h1>

<table>
    <tr>
        <th> attribute </th>
        <th> value </th>
    </tr>
    <% [:age, :birth_date, :color, :sex].each do |attr_name| %>

        <tr>
            <td>
        </tr>





</table>