<h1>Create New Sub</h1>

<form action="<%= subs_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>
        Title 
        <input type="text" name="sub[title]" value="<%= @sub.title %>">
    </label>

    <label for="Description">Description</label>
    <textarea id="Description" name="sub[description]" value="<%= @sub.description %>">
    </textarea>
    <button type="submit">Create Sub</button>
</form>