<h1>Cat Application Form</h1>

<form action="">>
    <label>name: 
        <input 
            type="text" 
            name="cat[name]" 
            value="<%= @cat.name %>">
    </label>

    
    <input
        type="radio"
        name="cat[sex]"
        value="M"
        id="male">
    <label for="male">Male</label>
    <input
        type="radio"
        name="cat[sex]"
        value="F"
        id="female">
    <label for="female">Female</label>


    